.card-img-top{
    height: 225px;
    object-fit: cover;
}

.card-text{
    font-family: 'Lato' !important;
    font-weight: 400;
}

.card{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}