.contact{
    background-color: #f0f0f0; 
}

h3{
    font-size: 32px;
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.card{
    font-family: 'Lato';
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
    border: 2px solid #274458;
    border-radius: 25px;
    padding: 10px 30px;
    color: #274458;
}

textarea {
    resize: none;
}

textarea:focus{
    outline: none !important;
    border-color: #274458;
    box-shadow: 0 0 0px;
}

input:focus { 
outline: none !important;
border-color: #274458;
box-shadow: 0 0 0px;
}

.icon{
    fill: #274458;
}

.text-med{
    font-size: 16px;
    font-family: 'Lato';
    letter-spacing: .1rem;
}
