.splash{
    background-color: black;
    height: 100vh;
    font-family: "Lato";
}

h1{
    color: white;
    font-size: 72px;;
    font-weight: 300;
}

h2{
    color: white;
    font-size: 40px;;
    font-weight: 100;
}