.navbar-nav{
    padding: 0.5% 10%;
}

@media only screen and (max-width: 767px) {
    .navbar-nav{
        padding: 0px 0px;        
    }
}  
@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .navbar-nav{
        padding: 0px 0px;        
    }
} 


.nav-item{
    font-family: "Lato";
    font-weight: 500;
    font-size: 18px;
}

.nav-item:hover{
    cursor: pointer;
    color: white;
}

.logo{
    height: 30px;
    cursor: default;
}
