<nav class="navbar navbar-dark navbar-expand-md fixed-top" [class.bg-color]="darkTheme" >
    
  <button class="navbar-toggler"  (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="show"  [class.dark-theme]="darkTheme" id="navbarsExampleDefault">
    <div class="navbar-nav container d-flex flex-column flex-md-row justify-content-between">
      <div class="nav-item" >
        <div class="nav-link" (click)="scroll(0)" >Home</div>
      </div>
      <div class="nav-item">
        <div class="nav-link" (click)="scroll(1)">About</div>
      </div>
      <div *ngIf="innerWidth > 767" class="nav-item">
        <div class="nav-link">
          <img class="logo" src="../../assets/logo-light.PNG"/>
        </div>
      </div>
      <div class="nav-item">
        <div class="nav-link" (click)="scroll(2)">Projects</div>
      </div>
      <div class="nav-item">
          <div class="nav-link" (click)="scroll(3)">Contact</div>
      </div>
    </div>
  </div>
</nav>