<nav class="navbar navbar-expand-md fixed-top">
    
  <button class="navbar-toggler"  (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="show"  id="navbarsExampleDefault">
    <div class="navbar-nav container d-flex flex-column flex-md-row justify-content-between">
      <div class="nav-item active">
        <div class="nav-link">Sam Noguchi</div>
      </div>
      <div class="nav-item">
        <div class="nav-link">About</div>
      </div>
      <div class="nav-item">
        <div class="nav-link">Sam Noguchi</div>
      </div>
      <div class="nav-item">
        <div class="nav-link">Contact</div>
      </div>
      <div class="nav-item">
          <div class="nav-link">Disabled</div>
      </div>
    </div>
  </div>
</nav>