/* You can add global styles to this file, and also import other style files */


body{
    font-family: 'Lato', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}


.bg-color{
    background-color: #274458;
}

.text-color-main{
    color: #76a2bd; 
}

.text-color-grey{
    color: #555555;
}

.link:hover{
    color: #76a2bd;
}

.header{
    font-size: 54px;
    color: #555555;
    font-weight: 100;
}

.med-text{
    font-size: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .header{
        font-size: 48px;
    }

    .header::after{
        margin-top: 10px !important;
        margin-bottom: 2%;
    }

    .med-text{
        font-size: 22px;
    }

}  

@media only screen and (max-width: 767px) {
    .header{
        font-size: 40px;
    }

    .header::after{
        margin-top: 10px !important;
        margin-bottom: 2%;
    }

    .section{
        padding: 8% 4% !important;
    }

    .med-text{
        font-size: 18px !important;
    }

}  

.header::after{
    display:block;
    height: 2px;
    background-color: #555555;
    content: " ";
    width:100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 4%;
}

.section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 4% 4%;
}

.p-8{
    padding-top: 5%;
    padding-bottom: 5%;
}


/* Optional: show position indicator in red */
